.sidebar-button {
  background: #edbfb7;
  border: 0.5px solid #2f2235;
  transition: 0.5s;
  width: 10vh;
  margin: 3vh;
  height: 10vh;
  outline: none;
  border-radius: 10px;
}

.sidebar-button:hover {
  background: #cca39d;
  border: 0.5px solid #3f3244;
  outline: none;
}

.sidebar-button:focus {
  outline: none;
}

.sidebar-button:active {
  background: #c7e8f3;
  border: 0.5px solid #3f3244;
  outline: none;
}

.sidebar-container {
  width: 20vh;
}
